<?xml version="1.0"?>
<config>
    <modules>
        <EP_Emailplatform>
            <version>1.0.0</version>
        </EP_Emailplatform>
    </modules>
    <global>
        <helpers>
            <emailplatform>
                <class>EP_Emailplatform_Helper</class>
            </emailplatform>
        </helpers>
        <rewrite>
            <pnpweb_emailplatform_account_edit>
                <from><![CDATA[#^/customer/account/edit/(.*)#]]></from>
                <to>emailplatform/account/edit</to>
            </pnpweb_emailplatform_account_edit>
            <pnpweb_emailplatform_account_confirm>
                <from><![CDATA[#^/customer/account/confirm/(.*)#]]></from>
                <to>emailplatform/account/confirm</to>
            </pnpweb_emailplatform_account_confirm>
        </rewrite>
        <models>
            <emailplatform>
                <class>EP_Emailplatform_Model</class>
            </emailplatform>
            <newsletter>
                <rewrite>
                    <subscriber>EP_Emailplatform_Model_Newsletter_Subscriber</subscriber>
                </rewrite>
            </newsletter>
        </models>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <handle_newsletter_subscription>
                        <class>emailplatform/observer</class>
                        <method>subscribe</method>
                    </handle_newsletter_subscription>
                </observers>
            </checkout_submit_all_after>
            <admin_system_config_changed_section_emailplatform>
                <observers>
                    <emailplatform_setconfig>
                        <class>emailplatform/observer</class>
                        <method>OnSave</method>
                    </emailplatform_setconfig>
                </observers>
            </admin_system_config_changed_section_emailplatform>
        </events>
    </global>
    <frontend>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <add_subscription_checkbox_to_checkout>
                        <class>emailplatform/observer</class>
                        <method>addCheckbox</method>
                    </add_subscription_checkbox_to_checkout>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <emailplatform translate="title" module="emailplatform">
                                            <title>eMailPlatform Section</title>
                                            <sort_order>50</sort_order>
                                        </emailplatform>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
            <emailplatform>
                <use>admin</use>
                <args>
                    <module>EP_Emailplatform</module>
                    <frontName>eMailPlatform</frontName>
                </args>
            </emailplatform>
        </routers>
    </admin>
    <default>
        <emailplatform>
            <general>
                <active>0</active>
                <url>https://api.mailmailmail.net/v1.1</url>
                <username>admin</username>
                <token></token>
            </general>
            <subscribe>
                <double_optin>0</double_optin>
                <add_mobile>0</add_mobile>
                <mobile_prefix>0</mobile_prefix>
                <firstname_fieldid>0</firstname_fieldid>
                <lastname_fieldid>0</lastname_fieldid>
                <add_to_autoresponders>1</add_to_autoresponders>
                <update_existing>1</update_existing>
            </subscribe>
            <checkoutnewslettersubscription>
                <active>1</active>
                <defaultchecked>0</defaultchecked>
            </checkoutnewslettersubscription>
        </emailplatform>
    </default>
</config>